/* Custom styles to match the design */
body {
  font-family: 'Inter', sans-serif;
}

.form-container {
  flex-basis: 50%;
}

.image-container {
  min-height: 100vh;
  background-image: url('image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.form-container {
  min-height: 100vh;
}

.relative1{
  background-color: none;
  margin : 200px 100px;
  margin-bottom:500px;
}